


img.botonEfecto{  
     /* especifica las reglas para cubrir la ventana del navegador*/
 
   min-height:2cm;
   min-width:2cm;  /* especificar ancho de la imagen.
                           Aquí suponemos que es 1024px */
   /* especifica las reglas para un correcto escalado de la imagen */ 
   width:40%; 
   /* especifica la posición */
   
     margin: auto;
   top:0;
   left:0;
}

img.botonGuardar{  
     /* especifica las reglas para cubrir la ventana del navegador*/
 
   min-height:2cm;
   min-width:2cm;  /* especificar ancho de la imagen.
                           Aquí suponemos que es 1024px */
   /* especifica las reglas para un correcto escalado de la imagen */ 
   width:50%; 
   /* especifica la posición */
   display: block;
     margin: auto;
   top:0;
   left:0;
}



h1{
    width: 100%;
   
    text-align: center;
    color: white;
    font-family: helvetica;
    font-style: oblique;
    font-weight: 100;
    font-size: 15em;
    display: block;
   
}

h2{
    display: block;
    text-align: center;
    color: gray;
    font-family: fantasy;
    font-style: oblique;
    font-size-adjust: auto;    
    font-size:4em;
}

body{
	/*dimension*/
	height: 100%;
	width:100%;

	/*fondo*/
	background-color: black;

	/*ajuste de pantalla*/
	-webkit-background-size: 100% 100%; /*safari y chrome*/
	-moz-background-size: 100% 100%;/*mozilla*/
	-o-background-size: 100% 100%;/* opera*/
	background-size: 100% 100%; /*w3c*/	
}

div#botonGuardar{
display: block; 
margin: auto;   
background-color: green;
height: 10%;
width: 75%;   
    
}


.container{
float: left;
    width: 500px;
    height: 500px;
    background-color: red;
    line-height: 500px;
    text-align: center;
}

div#nombreCrew{
width: 100%;
height: 20%;    
    
}

div#puntuacion{
width: 100%;
height: 0%;    
    
}




